body
{
  margin: 0;
  background-image: url("artificial-intelligence.webp");
  background-size:100%;

}


.top-head
{
  color: white;
  margin-left: 500px;
  font-family: sans-serif;
  font-weight: 700;



}

.top-p
{
  color: white;
  font-family: sans-serif;
  font-weight: 700;

  margin-left: 550px;
  margin-top: 10px;
}

.middle-part
{
    margin: 10px;
    margin-right: 534px;
    background-color: #B2C8DF;
    position: absolute;
    margin-top: 20px;

}

.middle-head
{
  margin-left:20px;

}



.intro-image
{
  width:100%;
  height:50%;
}



.middle-1
{
    background-color: #B2C8DF;
    margin: 10px;
    margin-left: 750px;
    margin-top: 0px;
    position: absolute;
}



.m-head
{
  margin-left: 20px;
}



.middle-start
{
  background-color: #B2C8DF;
  margin-left: 750px;
  margin-right: 10px;
}

p
{
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}


.middle-2
{
  background-color: #B2C8DF;
  margin: 10px;
  margin-right: 534px;
  margin-top: 580px;
  position: absolute
}

h1
{
  margin-left: 20px;
  font-family: sans-serif;
}

h2
{
  margin-left: 20px;
  font-family: sans-serif;
}



.middle-3
{
  background-color: #B2C8DF;
  margin: 10px;
  margin-left: 750px;
  margin-top: 700px;
}



.middle-4
{
  background-color: #B2C8DF;
  margin: 10px;
  margin-left: 750px;
  position: absolute;
  margin-top: 0px;
}


.middle-5
{
  background-color: #B2C8DF;
  margin: 10px;
  margin-left: 750px;
  margin-top: 690px;
  position: absolute;
}



.middle-6
{
  background-color: #B2C8DF;
  margin: 10px;
  margin-right: 534px;
  margin-top: 400px;
}

img
{
  width: 100%;
}

.middle-7
{
  background-color: #B2C8DF;
  margin: 10px;
  margin-right: 534px;
  position: absolute;
}

.bottom-part
{
  background-color: #B2C8DF;
  margin: 10px;
  margin-left: 750px;
  margin-top: 300px;
  margin-bottom: 10px;
}
.bottom-head
{
  margin-left: 550px;
}

.email-link
{
  margin-left: 35px;
}



.intro
{

  margin-top: 0px;
  width:85%;
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.intro-head_1
{
  margin-top: 0px;
  padding-top: 10px;
}

.intro ul li
{
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  position: relative;
}

.intro ul li a
{
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  width: 50px;
}

.intro ul li::after
{
  content:'';
  height:3px;
  width: 0;
  background: #fff;
  position: absolute;
  left: 0;
  bottom: -10px;
  transition: 0.5s;
  }

intro ul li:hover::after
{
  width: 100%;
}

footer
{
  background: #111;
  height: auto;
  width: 100vw;
  font-family: "Open Sans";
  padding-top: 40px;
  margin-top: 130px;
  color: #fff;

}

.contact-me
{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;

}

.contact-me contact-head
{
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 3rem;
}

.contact-me p
{
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
}
.contact-list
{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
}

.contact-list li
{
  margin: 0 30px;
}

.contact-list a
{
  text-decoration: none;
  color: #fff;
}

.ms-ul
{
  list-style: none;
}

.footer-bottom
{

background: #000;
width:100vw;
padding: 20px 0;
text-align: center;
}

.footer-bottom p
{
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}

.footer-bottom span
{
  text-transform: uppercase;
  opacity: .4;
  font-weight: 200;
}

hr
{
  height:10px;
}
